@import "../../../color-variables.scss";

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: $bg-secondary;

    padding: 40px 70px;
    
    color: white;
    h3 {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
    }

    .text {
        flex: 1;
        

    }

    form {
        flex: 1;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        width: 100%;

        input {
            color: white;
            width: 100%;
            background: none;
            border: none;
            border-bottom: 1px solid white;

            height: 60px;
            margin-bottom: 40px;
        }
    }


}

@media (min-width: 1080px) {
    .form-section {
        flex-direction: row;
        gap: 115px;

        padding: 40px 120px;
    }
}